<h1>New</h1>
<p>Add a new item</p>

<%= form_for @product, url: {action: 'create'} do |f| %>

	<label>
		Name
		<%= f.text_field(:name) %>
	</label>
	
	<label>
		Quantity
		<%= f.number_field(:quantity) %>
	</label>
	
	<%= f.submit 'Create' %>

<% end %>

<a href="/">Back to list</a>
